.page-layout {
    display: flex;
}

.title {
    position: relative;
    flex: 1;
    max-width: 600x;

}

.title img {
    display: block;
    width: 100%;

    object-fit: cover;

}

.over-image {
    position: absolute;
    font-size: 75px;
    width: 100%;
    top: 5%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    border-radius: 6px;
    word-wrap: break-word;
    overflow-wrap: break-word;
   padding: 10px 0;
   line-height: 1.2;
}

.right-side {
    flex: 1;
    padding: 60px;
    background-color: #f9f9f9;
}

.name-row,
.email-row,
.password-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 10px;
}


.field {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin-bottom: 6px;
}

input {
    padding: 8px;
    font-size: 16px;
    width: 70%;
    box-sizing: border-box;
}

@media (max-width: 900px) {
    .page-layout {
        flex-direction: column;
    }

    .title, .right-side {
        width: 100%;
    }
}
@media (max-width: 600px) {
  .name-row, .email-row, .password-row {
    grid-template-columns: 1fr;
  }
  .over-image {
        font-size: 40px;
    }
}

#create_account {
    margin-top: 20px;
    padding: 5px 10px;
    font-size: large;
    background-color:rgb(113, 163, 180);
    color: white;
    border-radius: 6%;
}

input:valid {
    border: 1px solid green;
}

input:invalid{
    border: 2px solid red;
}

input:focus{
   border: 5px solid yellow;

}